// variables
// =====================================================================================================================


// base
$lottery_name            : 'battleCoupons';
$fz_base                 : 16;
$fz                      : $fz_base;
$main_font               : 'Roboto', sans-serif;
$secondary_font          : 'Roboto Condensed', sans-serif;
$add_custom_font         : '';
$custom_font             : $add_custom_font, sans-serif;

// media vars
$media_max               : 1920;
$media_l                 : 1500; // media for 1366
$media_m                 : 1300; // media for 1024
$media_s                 : 1000; // media for 640
$media_xs                : 560;  // media for 320

// colors
$white_color             : hsl(0, 0%, 100%);
$grey_color              : hsl(0, 0%, 15%);
$black_color             : hsl(0, 0%, 0%);
$test_color              : hsl(101, 100%, 69%);
